html {
    background-color: rgba(255, 111, 0, .8);
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}


/* screen sizes */

@media (max-width: 503px) {
   #photos {
       display: flex;
       flex-wrap: wrap;
       align-content: stretch;
       height: 100%;
    }
    .pic {
        max-width: 50%;
    }
}

@media (min-width: 640px) {
    #container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
}